@tailwind base;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(#ff6699) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  display: none;
}


@tailwind components;
@tailwind utilities;



body {
  color: white;
  background: url('https://www.transparenttextures.com/patterns/cubes.png');
  background-color: #333366;
}

.typed-cursor {
  font-size: 50px;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
